{% extends "base.html" %}
{% load static %}
{% block title %}Customer Detail{% endblock %}

{% block content %}
<div class="container mt-4">
    <h4 class="mb-4 text-center">Customer Details </h4>
    <div class="card shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">{{ customer.name }}</h5>
            {% if customer.status %}
                <span class="badge bg-success">Active</span>
            {% else %}
                <span class="badge bg-secondary">Inactive</span>
            {% endif %}
        </div>

        <div class="card-body">
            <div class="row g-1">
                <div class="col-md-6">
                    <p><strong>Email:</strong> {{ customer.email }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Phone:</strong> {{ customer.phone_number }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Date of Birth:</strong> {{ customer.date_of_birth }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Nationality:</strong> {{ customer.nationality.name }}</p>
                </div>
                <div class="col-md-12">
                    <p><strong>Home Address:</strong> {{ customer.home_address }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Parent Phone Num.:</strong> {{ customer.parent_phone_number }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Visa Type:</strong> {{ customer.visa_type }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Workplace/School Name:</strong> {{ customer.workplace_or_school_name }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Workplace/School Phone Num.:</strong> {{ customer.workplace_or_school_phone }}</p>
                </div>
                <div class="col-md-12">
                    <p><strong>Workplace/School Address:</strong> {{ customer.workplace_or_school_address }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Zairyu Card Num.:</strong> {{ customer.zairyu_card_number }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Zairyu Card Expiry:</strong> {{ customer.zairyu_card_expire_date }}</p>
                </div>
                
                <div class="col-md-4">
                    <p><strong>Passport:</strong>
                        {% if customer.passport_pdf %}
                            <a href="{{ customer.passport_pdf.url }}" target="_blank" class="btn btn-sm btn-outline-primary">View</a>
                        {% else %}
                            None
                        {% endif %}
                    </p>
                </div>

                <div class="col-md-4">
                    <p><strong>Zairyu Card:</strong>
                        {% if customer.zairyu_card_pdf %}
                            <a href="{{ customer.zairyu_card_pdf.url }}" target="_blank" class="btn btn-sm btn-outline-primary">View</a>
                        {% else %}
                            None
                        {% endif %}
                    </p>
                </div>

                <div class="col-md-4">
                    {% if customer.student_card_pdf %}
                        <p><strong>Student Card:</strong>
                            <a href="{{ customer.student_card_pdf.url }}" target="_blank" class="btn btn-sm btn-outline-primary">View</a>
                        
                    {% endif %}
                    </p>
                </div>

                <div class="col-md-12">
                    <strong>Memo:</strong> <p>{{ customer.meno }}</p>
                </div>
                <div class="col-md-12 text-end">
                    <p class="" style="font-size: 12px">
                        Created by: {{ customer.created_by }} | Created at: {{ customer.created_at }} | 
                        Updated by: {{ customer.updated_by }} | Updated at: {{ customer.updated_at }} 
                    </p>
                </div>
                
            </div>
            
        </div>

        <div class="card-footer d-flex justify-content-between">
            <a href="{% url 'customer:customer_edit' customer.id %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'customer:dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>
        </div>
    </div>


    {% if assigned_bed %}
        <div class="card shadow-sm mt-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Bed Assignment</h5>
            </div>
            <div class="card-body">
                <div class="row g-1">
                    <div class="col-md-3">
                        <p><strong>Hostel:</strong> {{ assigned_bed.unit.hostel.name  }}</p>
                    </div>
                    <div class="col-md-3">
                        <p><strong>Bedroom No:</strong> {{ assigned_bed.unit.bedroom_num }}</p>
                    </div>
                    <div class="col-md-3">
                        <p><strong>Bed No:</strong> {{ assigned_bed.bed_num }}</p>
                    </div>
                    <div class="col-md-3">
                        <p><strong>Assigned Date:</strong> {{ assigned_bed.assigned_date }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if bed_history %}
        <div class="card shadow-sm mt-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Bed Assignment History</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm text-center">
                        <thead class="table-light">
                            <tr>
                                <th>Hostel</th>
                                <th>Bedroom No</th>
                                <th>Bed No</th>
                                <th>Assigned Date</th>
                                <th>Released Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in bed_history %}
                                <tr>
                                    <td>{{ record.bed.unit.hostel.name }}</td>
                                    <td>{{ record.bed.unit.bedroom_num }}</td>
                                    <td>{{ record.bed.bed_num }}</td>
                                    <td>{{ record.assigned_date }}</td>
                                    <td>{{ record.released_date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
    
    <div class="card shadow-sm mt-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Payment History</h5>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-sm table-bordered text-center">
                <thead class="table-light">
                    <tr>
                        <th>Year-Month</th>
                        <th>Initial(¥)</th>
                        <th>Deposit(¥)</th>
                        <th>Internet(¥)</th>
                        <th>Utilities(¥)</th>
                        <th>Rent(¥)</th>
                        <th>Meno</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rent in rent_history %}
                        <tr>
                            <td>{{ rent.year }}-{{ rent.month|stringformat:"02d" }}</td>
                            <td>{{ rent.initial_fee_after_discount }}</td>
                            <td>{{ rent.deposit_after_discount }}</td>
                            <td>{{ rent.internet }}</td>
                            <td>{{ rent.utilities }}</td>
                            <td>{{ rent.rent }}</td>
                            <td>
                                {{ rent.memo|slice:":20" }}{% if rent.memo|length > 20 %} ... {% endif %}
                            </td>
                            <td>{{ rent.created_at }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



</div>
{% endblock %}
