{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container mt-4" style="max-width: 500px;">
    <a href="{% url 'hostel:dashboard' %}" class="btn btn-sm btn-outline-secondary">← Back</a>
    <div class= "card shadow-sm p-2">
        <h4 class="mb-4 text-center">Change Password</h4>
    
    

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="d-grid mt-3">
                <button type="submit" class="btn btn-primary">Update Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
