/* Sidebar layout */
.sidebar {
    width: 150px;
    min-height: calc(100vh - 56px); /* header height */
    transition: width 0s;
    position: fixed;
    margin-top:67px;
    background-color:rgb(148, 212, 247);
    border-right: 1px solid black;
}

.sidebar.collapsed {
    width: 50px;
}

.main-content {
    margin-left: 150px;
    transition: margin-left 0s;
}

.main-content.sidebar-collapsed {
    margin-left: 70px;
}

/* Optional: Hide text when sidebar is collapsed */
.sidebar.collapsed .link-text {
    display: none;
}
.content{
    margin-top:50px;
}

.sidebar .nav-link {
    display: flex;
    align-items: left;
    padding: 0.75rem;
    justify-content: left;
    text-align: left;
    transition: background-color 0.s;
    white-space: nowrap;
}

.sidebar .nav-link .link-text {
    margin-left: 10px;
    display: inline-block;
}

.sidebar.collapsed .nav-link .link-text {
    display: none;
}

.sidebar .nav-link.active {
    background-color: #71a7f8;
    color: white;
}

.navbar{
    background-color: rgb(148, 212, 247);
    border-bottom: 1px solid black;
}


/* Scrollable tbody inside a fixed table header */
.scrollable-table {
    overflow-y: auto;
    display: block;
}

.scrollable-table thead, .scrollable-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.scrollable-table thead {
    width: calc(100% - 1em); /* Prevent scrollbar overlay */
    position: sticky;
    top: 0;
    z-index: 2;
    color: white;
}

.scrollable-table tbody {
    display: block;
    max-height: 45vh;
    overflow-y: auto;
}

.scrollable-table td, .scrollable-table th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#map {
    height: 50vh;
    width: 100%;
}
.custom-thead {
    background-color:rgb(148, 212, 247) !important;
    color: Black !important;
}
